# Variables para el Auth Service
PORT=4000

# Misma clave que en los coordinadores
JWT_SECRET=secreto_123

# Cliente ID de Google (el que sacamos de la consola)
GOOGLE_CLIENT_ID=tu_client_id.apps.googleusercontent.com