# Puerto del coordinador local
PORT=5000

# Cambiar a coord-B o coord-C según la PC
COORDINATOR_ID=coord-A

# Ojo: cambiar http por wss aquí
PUBLIC_URL=wss://tu-ngrok-aqui.ngrok.app
PEER_URL=wss://tu-ngrok-aqui.ngrok.app/peer

# La URL de ngrok del auth service (el PC 1)
AUTH_SERVICE_URL=https://auth-ngrok-aqui.ngrok.app

# Misma clave que en el auth service
JWT_SECRET=secreto_123
